<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webinse_Weblog1::weblog" title="Weblog1" sortOrder="51">
                    <resource id="Webinse_Weblog1::blogpost" title="Posts" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>